@page "/chitietthues/delete"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Xóa chi tiết thuê</PageTitle>

<h1 class="text-danger-emphasis fw-bold text-center">Xóa chi tiết thuê</h1>

<h3 class="text-danger">Bạn có chắc chắn muốn xóa chi tiết thuê này?</h3>
<div>
    <hr />
    @if (chitietthue is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2 text-primary">Mã chủ trọ</dt>
            <dd class="col-sm-10">@chitietthue.MaChuTro</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 text-primary">Mã người thuê</dt>
            <dd class="col-sm-10">@chitietthue.MaNguoiThue</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 text-primary">Ngày thuê</dt>
            <dd class="col-sm-10">@chitietthue.ThoiGianThue</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 text-primary">Địa chỉ thuê</dt>
            <dd class="col-sm-10">@chitietthue.DiaChiThue</dd>
        </dl>
        <EditForm method="post" Model="chitietthue" OnValidSubmit="DeleteChiTietThue" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger me-3 px-4" disabled="@(chitietthue is null)">Xóa</button>
            <a href="/chitietthues" class="text-decoration-none">Quay lại</a>
        </EditForm>
    }
</div>

@code {
    ChiTietThue? chitietthue;

    [SupplyParameterFromQuery]
    public int MaChiTietThue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        chitietthue = await DB.ChiTietThue.FirstOrDefaultAsync(m => m.MaChiTietThue == MaChiTietThue);

        if (chitietthue is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteChiTietThue()
    {
        DB.ChiTietThue.Remove(chitietthue!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/chitietthues");
    }
}
