@page "/danhgia/delete"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Xóa đánh giá</PageTitle>

<h1 class="text-danger-emphasis fw-bold text-center">Xóa đánh giá</h1>

<h3 class="text-danger">Bạn có chắc chắn muốn xóa đánh giá này!</h3>
<div>
    <hr />
    @if (danhgia is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2 text-primary">Ngày đánh giá</dt>
            <dd class="col-sm-10">@danhgia.DanhGia.NgayDanhGia</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 text-primary">Mã người đánh giá</dt>
            <dd class="col-sm-10">@danhgia.NguoiThue.MaNgThue</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 text-primary">Tên người đánh giá</dt>
            <dd class="col-sm-10">@danhgia.NguoiThue.HoTen</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2 text-primary">Mã phòng trọ</dt>
            <dd class="col-sm-10">@danhgia.DanhGia.MaPhongTro</dd>
        </dl>
          <dl class="row">
            <dt class="col-sm-2 text-primary">Nội dung</dt>
            <dd class="col-sm-10">@danhgia.DanhGia.NoiDung</dd>
        </dl>
        <EditForm method="post" Model="danhgia" OnValidSubmit="DeleteDanhGia" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger me-3 px-4" disabled="@(danhgia is null)">Xóa</button>
            <a href="/danhgia" class="text-decoration-none">Quay lại</a>
        </EditForm>
    }
</div>

@code {
    DanhGiaNguoiThueModel? danhgia;

    [SupplyParameterFromQuery]
    public string MaDanhGia { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await DB.DanhGia
            .Join(DB.NguoiThue,
                danhGia => danhGia.MaNgThue, // Foreign key in DanhGia table
                nguoiThue => nguoiThue.MaNgThue, // Primary key in NguoiThue table
                (danhgia, nguoiThue) => new DanhGiaNguoiThueModel { DanhGia = danhgia, NguoiThue = nguoiThue }) // Result selector
            .FirstOrDefaultAsync(item => item.DanhGia.MaDanhGia == MaDanhGia);

        danhgia = result;

        if (danhgia is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteDanhGia()
    {
        DB.DanhGia.Remove(danhgia.DanhGia);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/danhgia");
    }
}
