@page "/danhgia/details"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Chi tiết đánh giá</PageTitle>

<h1 class="text-danger-emphasis fw-bold text-center">Chi tiết đánh giá</h1>

<div>
    <hr />
    @if (danhgia is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2 text-primary">Ngày đánh giá</dt>
            <dd class="col-sm-10">@danhgia.NgayDanhGia</dd>
            <dt class="col-sm-2 text-primary">Nội dung</dt>
            <dd class="col-sm-10">@danhgia.NoiDung</dd>
            <dt class="col-sm-2 text-primary">Mã đánh gi</dt>
            <dd class="col-sm-10">@danhgia.MaNguoiDanhGia</dd>
            <dt class="col-sm-2 text-primary">Mã phòng trọ</dt>
            <dd class="col-sm-10">@danhgia.MaPhongTro</dd>
        </dl>
        <div>
            <a href="@($"/danhgia/edit?madanhgia={danhgia.MaDanhGia}")" class="btn btn-primary px-4 me-3">Sửa</a>
            <a href="@($"/danhgia")" class="btn btn-primary">Quay lại</a>
        </div>
    }
</div>

@code {
    DanhGia? danhgia;

    [SupplyParameterFromQuery]
    public int MaDanhGia { get; set; }

    protected override async Task OnInitializedAsync()
    {
        danhgia = await DB.DanhGia.FirstOrDefaultAsync(m => m.MaDanhGia == MaDanhGia);

        if (danhgia is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
