@page "/phongtros/delete"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PhongTro</h4>
    <hr />
    @if (phongtro is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">MaChuTro</dt>
            <dd class="col-sm-10">@phongtro.MaChuTro</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">TenChuTro</dt>
            <dd class="col-sm-10">@phongtro.TenChuTro</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DiaChiTro</dt>
            <dd class="col-sm-10">@phongtro.DiaChiTro</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">TrangThai</dt>
            <dd class="col-sm-10">@phongtro.TrangThai</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DienTich</dt>
            <dd class="col-sm-10">@phongtro.DienTich</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Gia</dt>
            <dd class="col-sm-10">@phongtro.Gia</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">NgayDang</dt>
            <dd class="col-sm-10">@phongtro.NgayDang</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">ChiTiet</dt>
            <dd class="col-sm-10">@phongtro.ChiTiet</dd>
        </dl>
        <EditForm method="post" Model="phongtro" OnValidSubmit="DeletePhongTro" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(phongtro is null)">Delete</button> |
            <a href="/phongtros">Back to List</a>
        </EditForm>
    }
</div>

@code {
    PhongTro? phongtro;

    [SupplyParameterFromQuery]
    public int MaPhongTro { get; set; }

    protected override async Task OnInitializedAsync()
    {
        phongtro = await DB.PhongTro.FirstOrDefaultAsync(m => m.MaPhongTro == MaPhongTro);

        if (phongtro is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeletePhongTro()
    {
        DB.PhongTro.Remove(phongtro!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/phongtros");
    }
}
