@page "/phongtros/details"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Chi tiết</PageTitle>

<h1 class="text-danger-emphasis fw-bold text-center">Chi tiết phòng trọ</h1>

<div>
    <hr />
    @if (phongtro is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row g-2">
            <dt class="col-sm-2 text-primary">Mã phòng trọ</dt>
            <dd class="col-sm-10">@phongtro.MaChuTro</dd>
            <dt class="col-sm-2 text-primary">Tên phòng trọ</dt>
            <dd class="col-sm-10">@phongtro.TenChuTro</dd>
            <dt class="col-sm-2 text-primary">Địa chỉ trọ</dt>
            <dd class="col-sm-10">@phongtro.DiaChiTro</dd>
            <dt class="col-sm-2 text-primary">Trạng thái</dt>
            <dd class="col-sm-10">@phongtro.TrangThai</dd>
            <dt class="col-sm-2 text-primary">Diện tích</dt>
            <dd class="col-sm-10">@phongtro.DienTich</dd>
            <dt class="col-sm-2 text-primary">Giá phòng</dt>
            <dd class="col-sm-10">@phongtro.Gia</dd>
            <dt class="col-sm-2 text-primary">Ngày đăng</dt>
            <dd class="col-sm-10">@phongtro.NgayDang</dd>
            <dt class="col-sm-2 text-primary">Chi tết</dt>
            <dd class="col-sm-10">@phongtro.ChiTiet</dd>
        </dl>
        <div>
            <a href="@($"/phongtros/edit?maphongtro={phongtro.MaPhongTro}")" class="btn btn-primary px-4 me-3">Sửa</a>
            <a href="@($"/phongtros")" class="btn btn-primary">Quay lại</a>
        </div>
    }
</div>

@code {
    PhongTro? phongtro;

    [SupplyParameterFromQuery]
    public int MaPhongTro { get; set; }

    protected override async Task OnInitializedAsync()
    {
        phongtro = await DB.PhongTro.FirstOrDefaultAsync(m => m.MaPhongTro == MaPhongTro);

        if (phongtro is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
