@page "/nguoithues/details"
@inject QuanLyPhongTro.Data.QuanLyPhongTroContext DB
@using QuanLyPhongTro
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Chi tiết</PageTitle>

<h1 class="text-danger-emphasis fw-bold text-center">Chi tiết người thuê</h1>

<div>
    <hr />
    @if (nguoithue is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2 text-primary">Mã phòng trọ</dt>
            <dd class="col-sm-10">@nguoithue.MaPhongTro</dd>
            <dt class="col-sm-2 text-primary">Họ tên</dt>
            <dd class="col-sm-10">@nguoithue.HoVaTen</dd>
            <dt class="col-sm-2 text-primary">SĐT</dt>
            <dd class="col-sm-10">@nguoithue.Sdt</dd>
            <dt class="col-sm-2 text-primary">Giới tính</dt>
            <dd class="col-sm-10">@nguoithue.GioiTinh</dd>
            <dt class="col-sm-2 text-primary">Email</dt>
            <dd class="col-sm-10">@nguoithue.email</dd>
            <dt class="col-sm-2 text-primary">Ngày sinh</dt>
            <dd class="col-sm-10">@nguoithue.NgaySinh</dd>
            <dt class="col-sm-2 text-primary">Ngày thuê</dt>
            <dd class="col-sm-10">@nguoithue.NgayDK</dd>
        </dl>
        <div>
            <a href="@($"/nguoithues/edit?idnguoithue={nguoithue.IdNguoiThue}")" class="btn btn-primary px-4 me-3">Sửa</a>
            <a href="@($"/nguoithues")" class="btn btn-primary">Quay lại</a>
        </div>
    }
</div>

@code {
    NguoiThue? nguoithue;

    [SupplyParameterFromQuery]
    public int IdNguoiThue { get; set; }

    protected override async Task OnInitializedAsync()
    {
        nguoithue = await DB.NguoiThue.FirstOrDefaultAsync(m => m.IdNguoiThue == IdNguoiThue);

        if (nguoithue is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
